<h1><%= t("Seja bem vindo ao Colcho.net !") %></h1>

<p>
	<%= t("Seja bem vico ao Colcho.net, #{@user.full_name}!") %>
</p>
<p>
	<%= t("O Colcho.net e o lugar ideal par voce alugar aquele quarto sobrando na sua casa e ainda conhecer muita gente do mundo inteiro.") %>
</p>
<p>
	<%= t ('Para comecar a usar o site acesse o link: ') %>
	<%= link_to(@confirmation_link, @confirmation_link) %>
</p>

<p>
	<%= t ('Obrigado por se cadastrar no: ') %>
	<%= link_to('Colcho.net', root_url) %>
</p>