
<div class="container">
  <h1>Listing Users</h1>
  
  <% if @users.size >0  %>
    <table class="table">
     <thead> 
      <tr> 
        <th>Full Name</th>
        <th>Location</th>
        <th>Email</th> 
        <th>Bio</th>
      </tr> 
    </thead> 
    <tbody>
      <% @users.each do |user| %>
        <tr>

          <td><%= user.full_name %></td>
          <td><%= user.location %></td>
          <td><%= user.email %></td>
          <td><%= truncate(user.bio, :length => 35) %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% else %>
          <div class="alert alert-info" role="alert">nothing to Show</div>
   <% end %>
      
  <%= link_to 'New User', new_user_path, :class=>"btn btn-primary" %>
</div>