<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Listing Rooms</h1>
  
  <% if @rooms.size > 0  %>
    <table class="table">
     <thead> 
      <tr> 
        <th>Title</th>
        <th>Location</th>
        <th>Description</th>
      </tr> 
      </thead> 
      <tbody>
       <% @rooms.each do |room| %>
          <tr>
            <td><%= room.title %></td>
            <td><%= room.location %></td>
            <td><%= truncate(room.description, :length => 35) %></td>
            <td><%= link_to 'Show', room %></td>
            <td><%= link_to 'Edit', edit_room_path(room) %></td>
            <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <% else %>
          <div class="alert alert-info" role="alert">nothing to Show</div>
   <% end %>

   <%= link_to 'New Room', new_room_path %>
</div>