<div class="container">
	<div class="container">
	<% if notice %>
		<div class="alert alert-warning" role="alert">
			<p class="notice"><%= notice %></p>
		</div>
	<% end %>
	<div class="row">
		<div>
			<h2 class="text-center">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
				<%= @room.title %>
			</h2>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="list-group">
			  <a href="#" class="list-group-item active">
			    <strong>Title:</strong> <%= @room.title %>
			  </a>
			  <a href="#" class="list-group-item">
			  	<strong>Location:</strong> <%= @room.location %>
			  </a>
			  <a href="#" class="list-group-item">
			  	<strong>Description:</strong> <%= truncate(@room.description, :length => 60) %>
			  </a>
			</div>
		</div>
	</div>
</div>
<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
